
.contact-heading {
    font-weight: bold;
    font-family: PT Sans, sans-serif;
    color: #3B1C32;
    margin-bottom: 1rem;
}

.contact-description {
    font-family: PT Sans, sans-serif;
    color: #969899;
    margin-bottom: 2rem;
}

.form-label {
    font-weight: bold;
    color: rgb(171, 170, 170);
    font-family:PT Sans, sans-serif;
}

.btn-submit {
    background-color: #3B1C32;
    color: white;
}

.btn-submit:hover {
    background-color: #3B1C32;
}