<!-- <div class="container m-0 p-0">
    <div class="carousel-wrapper">
        <app-carousel></app-carousel>
    </div>
</div> -->
<div class="container mt-d-flex justify-content-center">
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
            <img src="https://plus.unsplash.com/premium_photo-1697729555861-e406b4989ee1?q=80&w=871&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="">
        </ng-template>
        <ng-template carouselSlide>
            <img src="https://plus.unsplash.com/premium_photo-1661963369594-9b25cd53be4d?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="">
        </ng-template>
        <ng-template carouselSlide>
            <img src="https://plus.unsplash.com/premium_photo-1697730334768-6e65fa8fded0?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="">
        </ng-template>
        <ng-template carouselSlide>
            <img src="https://plus.unsplash.com/premium_photo-1661885523029-fc960a2bb4f3?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8aW5kaWElMjB0b3VyaXNtfGVufDB8fDB8fHww"
                alt="">
        </ng-template>
        <ng-template carouselSlide>
            <img src="https://images.unsplash.com/photo-1622779100968-f38ad2954a0d?q=80&w=1169&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="">
        </ng-template>
        <ng-template carouselSlide>
            <img src="https://media.istockphoto.com/id/942152278/photo/gadisar-lake-at-jaisalmer-rajasthan-at-sunrise-with-ancient-temples-and-archaeological-ruins.webp?a=1&b=1&s=612x612&w=0&k=20&c=G-J9Za6tXae7ObbVL7T8015zlI-FeEyQ8_Du-7pVIT8="
                alt="">
        </ng-template>
    </owl-carousel-o>
</div>


<div class="container d-flex">
    <div class="row mt-5">
        @for(item of states ; track item.id){
        <div class="col">
            <app-cards [data]="item"></app-cards>
        </div>
        }
    </div>
</div>
<div class="container">
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
            <img src="https://plus.unsplash.com/premium_photo-1697729555861-e406b4989ee1?q=80&w=871&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="">
        </ng-template>
        <ng-template carouselSlide>
            <img src="https://plus.unsplash.com/premium_photo-1661963369594-9b25cd53be4d?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="">
        </ng-template>
        <ng-template carouselSlide>
            <img src="https://plus.unsplash.com/premium_photo-1697730334768-6e65fa8fded0?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="">
        </ng-template>
    </owl-carousel-o>
</div>