.state-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .state-card {
    width: 23%; /* Adjust card width for 4 per row */
    margin-bottom: 20px;
  }
  
  .state-card-img {
    width: 100%;
  }
  
  .state-card-body {
    padding: 15px;
  }
  .card-title {
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: black;
    text-decoration: none;
  }

  .card-text {
    font-family: Arial, sans-serif;
    color: black;
    text-decoration: none;
  }

  .card a {
    text-decoration: none;
  }