/* You can add global styles to this file, and also import other style files */
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

body{
    background-color: #FFE4E1;
    
}
.pt-sans-regular {
    font-family: "PT Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
